<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Defino valores de configuración dentro del ejecutable.  -->
		<!-- De se pueden modificar dinámicamente.                   -->
		<add key="BackgroundTono" value="#FF8CD399" />
		<add key="Adorno1Tono" value="Red" />
		<add key="Adorno2Tono" value="Green" />
	</appSettings>
</configuration>